
<html>
  <head>
    <title>Crush the Rust</title>
  </head>

  <script type="text/javascript" src="assets/javascript/jquery.min.js"></script>
  <script type="text/javascript" src="assets/javascript/main.js"></script>
  <script type="text/javascript" src="assets/javascript/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">

  <body class="background-dd">
         <div class="button-div center">
            <div class="btn btn-lg" id="start">
                <a href="/characters">
                    <span class="text-white h3" style="text-decoration: underline;">Start Here Gamer!</span>
                </a>
            </div>
        </div>
  </body>
</html>


